---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/organismos/Navbar.astro";
import Section from "../components/organismos/Section.astro";
import { User } from "lucide-react";

const comisionDirectiva = [
  { cargo: "Presidente", nombre: "Lic. Veronica Coria" },
  { cargo: "Secretaria", nombre: "Luz Miranda" },
  { cargo: "Tesorera", nombre: "Soledad Diaz" },
  { cargo: "Vocal 1", nombre: "Soldedad Guerra" },
  { cargo: "Vocal 1 suplente", nombre: "Patricia Galeano" },
  { cargo: "Vocal 2", nombre: "Marta Arias" },
  { cargo: "Vocal 2 suplente", nombre: "Rita Chavez" },
  { cargo: "Revisora de Cuenta", nombre: "Carlina Pereyra" },
  { cargo: "Revisora de Cuenta suplente", nombre: "Carolina Cramaro" },
];
---

<Layout>
  <Section
    isBackgroundFoto
    srcFotoBackground="https://scontent.cdninstagram.com/v/t39.30808-6/568562079_1555866042517659_2240020214404568880_n.jpg?stp=c0.1.1920.1280a_dst-jpg_e35_s1080x1080_tt6&_nc_cat=103&ig_cache_key=Mzc0ODM2MzY2ODIzMzg3NDk3MA%3D%3D.3-ccb7-5&ccb=7-5&_nc_sid=58cdad&efg=eyJ2ZW5jb2RlX3RhZyI6InhwaWRzLjE5MjB4MTI4Mi5zZHIuQzMifQ%3D%3D&_nc_ohc=a9ebwiJ1puYQ7kNvwFAJnv9&_nc_oc=AdkDVcPTlgwkQBC9BjH90LgmL52EKHqWArZEAHz043DEu0lidyS-fZLBur1QEWMToOo&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.cdninstagram.com&_nc_gid=xgw30uDoRDwYnCnajBPQrQ&oh=00_AflOtoXk52H2AAnSYq_I0xOB6FcGBbWVmXCM-aLkQfQrlA&oe=69352ED9"
    class="bg-linear-to-r from-primary-100 to-primary-200"
    id="comision-directiva"
  >
    <div class="max-w-6xl mx-auto">
      <div class="text-center my-24">
        <h2 class="text-4xl md:text-5xl font-bold text-primary-textoTitle mb-4">
          Autoridades Comisión Directiva
        </h2>
        <p class="text-lg text-primary-textoBody">
          Conoce los cargos que conforman nuestra comisión directiva
        </p>
      </div>

      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8 mb-20">
        {
          comisionDirectiva.map((directivo) => (
            <div class="bg-white p-8 rounded-2xl shadow-subtle hover:shadow-medium transition-all text-center border border-primary-border flex flex-col items-center">
              <div class="w-24 h-24 mb-6 rounded-full bg-linear-to-br from-primary-100/10 to-primary-200/10 flex items-center justify-center">
                <User className="h-10 w-10 text-primary-100" />
              </div>
              <h3 class=" font-bold text-primary-textoTitle">
                {directivo.cargo}
              </h3>
              <p class="text-primary-textoBody text-xl">{directivo.nombre}</p>
            </div>
          ))
        }
      </div>
    </div>
  </Section>
</Layout>
