---
import Layout from "../layouts/Layout.astro";
import Section from "../components/organismos/Section.astro";
---

<Layout>
  <Section class="bg-primary-bg-claro min-h-screen">
    <div class="max-w-4xl mx-auto my-24 text-center">
      <h1 class="text-4xl md:text-5xl font-bold text-primary-textoTitle mb-6">
        ¿Qué es la FLAP?
      </h1>
      <p class="text-lg text-primary-textoBody space-y-8">
        La fisura o hendidura es una falta de cierre de los procesos faciales .
        A menudo se encuentran en el labio de un bebé y/o en el paladar . Las
        fisuras se desarrollan en el primer trimestre del embarazo cuando los
        tejidos clave no se fusionan. Las fisuras también pueden estar asociadas
        con síndromes específicos. La fisura labio palatina afecta a 1 de cada
        700 bebés y es una de las anomalías congénitas más comunes en todo el
        mundo. Se cree que una combinación de factores genéticos y ambientales
        desencadena las hendiduras palatinas, que se producen en bebés de todo
        el mundo. Los niños afectados por labio y paladar hendido pueden
        experimentar dificultades que limitan su vida en cuanto a nutrición,
        habla, salud bucal, inclusión en la comunidad y más
      </p>
    </div>
  </Section>
</Layout>
